name: Checkmarx AST Scan
on:
  push:
    branches:
      - main
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Checkmarx AST CLI Action
        uses: checkmarxDev/ast-github-action@master
        with:
          project_name: Juice Test
          base_uri: https://master.cxast.com/
          client_id: ${{ secrets.CLIENT_ID }}
          secret: ${{ secrets.SECRET }}